<hr />
<div *ngIf="this.magnetismService.isMagnetismToggled">
    <mat-label>Choisir un point de contrôle :</mat-label>
    <p></p>
    <mat-radio-group aria-label="Select an option" (change)="radioControlPointHandler(this.$event.value)">
        <div>
            <mat-radio-button
                value="1"
                matTooltip="Haut-Gauche"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isTopLeft"
            ></mat-radio-button>
            <mat-radio-button
                value="5"
                matTooltip="Haut"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isTop"
            ></mat-radio-button>
            <mat-radio-button
                value="2"
                matTooltip="Haut-Droite"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isTopRight"
            ></mat-radio-button>
        </div>
        <div>
            <mat-radio-button
                value="6"
                matTooltip="Gauche"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isLeft"
            ></mat-radio-button>
            <mat-radio-button
                value="9"
                matTooltip="Centre"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isCenterBox"
            ></mat-radio-button>
            <mat-radio-button
                value="8"
                matTooltip="Droite"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isRight"
            ></mat-radio-button>
        </div>
        <div>
            <mat-radio-button
                value="3"
                matTooltip="Bas-Gauche"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isBottomLeft"
            ></mat-radio-button>
            <mat-radio-button
                value="7"
                matTooltip="Bas"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isBottom"
            ></mat-radio-button>
            <mat-radio-button
                value="4"
                matTooltip="Bas-Droite"
                [disabled]="!this.magnetismService.isMagnetismToggled"
                [checked]="this.isBottomRight"
            ></mat-radio-button>
        </div>
    </mat-radio-group>
</div>
