.example-chip-list {
    width: 500%;
}
.mat-label {
    font-size: 2em;
}
#Tags {
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
}

#layout {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

h3 {
    margin-top: 1em;
}

.buttons {
    margin-right: 0.2em;
}

.mat-raised-button {
    background-image: linear-gradient(
        45deg,
        rgb(2, 6, 1) 0%,
        rgb(2, 6, 1) 14.286%,
        rgb(8, 29, 31) 14.286%,
        rgb(59, 28, 13) 28.572%,
        rgb(59, 28, 13) 28.572%,
        rgb(124, 54, 27) 42.858%,
        rgb(168, 75, 38) 42.858%,
        rgb(143, 62, 42) 57.144%,
        rgb(172, 76, 51) 57.144%,
        rgb(161, 72, 49) 71.43%,
        rgb(182, 81, 56) 71.43%,
        rgb(182, 70, 36) 85.716%,
        rgb(199, 77, 40) 85.716%,
        rgb(182, 41, 36) 100.002%
    );
}
#imageSlider {
    margin-top: 50px;
}

#button {
    display: flex;
    justify-content: center;
}

.validTag {
    color: green;
}

.invalidTag {
    color: orange;
}

::ng-deep .green-snackbar {
    color: white;
    background: #15ad07;
}

::ng-deep .red-snackbar {
    color: white;
    background: #ad1308;
}

.spinner {
    margin-left: 0.5em;
}

.mat-form-field {
    margin-bottom: 1em;
}
