.container {
    width: 330px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.mat-icon {
    padding: 15px;
    color: white;
}
.buttons-container {
    width: 120px;
    // background-image: linear-gradient(90deg, rgba(30, 49, 49, 0.6), rgba(17, 73, 90, 0.6));
    // background-color: rgba(7, 74, 77, 0.836);

    background-image: linear-gradient(
            45deg,
            rgba(12, 12, 12, 0.51) 0%,
            rgba(12, 12, 12, 0.51) 12.5%,
            rgba(25, 25, 25, 0.51) 12.5%,
            rgba(25, 25, 25, 0.51) 25%,
            rgba(39, 39, 39, 0.51) 25%,
            rgba(39, 39, 39, 0.51) 37.5%,
            rgba(52, 52, 52, 0.51) 37.5%,
            rgba(52, 52, 52, 0.51) 50%,
            rgba(66, 66, 66, 0.51) 50%,
            rgba(66, 66, 66, 0.51) 62.5%,
            rgba(79, 79, 79, 0.51) 62.5%,
            rgba(79, 79, 79, 0.51) 75%,
            rgba(93, 93, 93, 0.51) 75%,
            rgba(93, 93, 93, 0.51) 87.5%,
            rgba(106, 106, 106, 0.51) 87.5%,
            rgba(106, 106, 106, 0.51) 100%
        ),
        linear-gradient(
            137deg,
            rgb(23, 45, 92) 0%,
            rgb(52, 67, 165) 12.5%,
            rgb(23, 61, 150) 12.5%,
            rgb(29, 57, 122) 25%,
            rgb(23, 55, 95) 25%,
            rgb(30, 76, 133) 37.5%,
            rgb(21, 67, 102) 37.5%,
            rgb(22, 70, 107) 50%,
            rgb(21, 79, 107) 50%,
            rgb(30, 88, 117) 62.5%,
            rgb(37, 125, 155) 62.5%,
            rgb(26, 177, 229) 75%,
            rgb(15, 192, 232) 75%,
            rgb(15, 192, 232) 87.5%,
            rgb(3, 207, 236) 87.5%,
            rgb(3, 207, 236) 100%
        );
    display: grid;
    align-content: flex-start;
}

.tools-container {
    display: grid;
    grid-template-columns: 55px 55px;
    justify-content: center;
    align-content: flex-start;
    grid-gap: 5px;
    border-right: solid rgb(116, 230, 224) 3px;
    width: 100%;
}

.colors-container {
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    border-top: 3px solid rgb(100, 217, 233);
}

.top-border {
    border-top: 3px solid grey;
    margin-top: 4px;
    margin-bottom: 4px;
}

.attributes-container {
    width: 100%;
    color: white;
    border: 5px;
    // background-image: linear-gradient(90deg, rgba(28, 135, 169, 0.7), rgba(23, 148, 148, 0.79));
    background-image: linear-gradient(
            40deg,
            rgba(12, 12, 12, 0.51) 0%,
            rgba(12, 12, 12, 0.51) 12.5%,
            rgba(25, 25, 25, 0.51) 12.5%,
            rgba(25, 25, 25, 0.51) 25%,
            rgba(39, 39, 39, 0.51) 25%,
            rgba(39, 39, 39, 0.51) 37.5%,
            rgba(52, 52, 52, 0.51) 37.5%,
            rgba(52, 52, 52, 0.51) 50%,
            rgba(66, 66, 66, 0.51) 50%,
            rgba(66, 66, 66, 0.51) 62.5%,
            rgba(79, 79, 79, 0.51) 62.5%,
            rgba(79, 79, 79, 0.51) 75%,
            rgba(93, 93, 93, 0.51) 75%,
            rgba(93, 93, 93, 0.51) 87.5%,
            rgba(106, 106, 106, 0.51) 87.5%,
            rgba(106, 106, 106, 0.51) 100%
        ),
        linear-gradient(
            142.5deg,
            rgb(23, 45, 92) 0%,
            rgb(52, 67, 165) 12.5%,
            rgb(23, 61, 150) 12.5%,
            rgb(29, 57, 122) 25%,
            rgb(23, 55, 95) 25%,
            rgb(30, 76, 133) 37.5%,
            rgb(29, 96, 148) 37.5%,
            rgb(40, 114, 170) 50%,
            rgb(38, 162, 225) 50%,
            rgb(38, 162, 225) 61.9%,
            rgb(26, 177, 229) 61.9%,
            rgb(26, 177, 229) 73.8%,
            rgb(15, 192, 232) 73.8%,
            rgb(15, 192, 232) 84.5%,
            rgb(3, 207, 236) 84.5%,
            rgb(3, 207, 236) 100%
        );
}

.icon {
    width: 30px;
    height: auto;
    padding: 7px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(rgb(252, 252, 252), 0.3);
    // border: 1px solid rgb(15, 14, 14);
    filter: invert(100%);
}

.icon:hover {
    background-image: linear-gradient(
        -45deg,
        rgb(233, 245, 230) 0%,
        rgb(228, 233, 227) 14.286%,
        rgb(236, 234, 195) 14.286%,
        rgb(224, 90, 49) 28.572%,
        rgb(233, 91, 55) 28.572%,
        rgb(224, 99, 61) 42.858%,
        rgb(235, 101, 61) 42.858%,
        rgb(189, 91, 46) 57.144%,
        rgb(202, 95, 45) 57.144%,
        rgb(143, 62, 31) 71.43%,
        rgb(148, 69, 33) 71.43%,
        rgb(102, 69, 19) 85.716%,
        rgb(138, 95, 30) 85.716%,
        rgb(117, 85, 26) 100.002%
    );
}

.selected {
    // background-image: linear-gradient(90deg, rgba(28, 135, 169, 0.7), rgba(23, 148, 148, 0.79));
    background-image: linear-gradient(
        45deg,
        rgb(233, 245, 230) 0%,
        rgb(228, 233, 227) 14.286%,
        rgb(236, 234, 195) 14.286%,
        rgb(209, 158, 47) 28.572%,
        rgb(214, 162, 49) 28.572%,
        rgb(209, 92, 56) 42.858%,
        rgb(216, 94, 57) 42.858%,
        rgb(194, 93, 47) 57.144%,
        rgb(221, 106, 53) 57.144%,
        rgb(207, 115, 40) 71.43%,
        rgb(218, 123, 47) 71.43%,
        rgb(207, 139, 37) 85.716%,
        rgb(231, 158, 47) 85.716%,
        rgb(182, 131, 36) 100.002%
    );
}

.notSelected {
    box-shadow: 0px;
}
a:hover {
    color: wheat;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}
