.color-picker-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    align-content: flex-start;
    height: auto;
    width: 170px;
    font-size: 15px;
}

.color-picker {
    padding: 10px;
}

.selected-color {
    border: solid black 3px;
}

.unselected-color {
    border: solid 3px #cdcdcd;
}

.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    gap: 10px;
    align-content: flex-start;
    height: auto;
    width: 170px;
    font-size: 15px;
}

.mat-raised-button {
    background-image: linear-gradient(
        45deg,
        rgb(2, 6, 1) 0%,
        rgb(2, 6, 1) 14.286%,
        rgb(8, 29, 31) 14.286%,
        rgb(17, 59, 63) 28.572%,
        rgb(17, 67, 78) 28.572%,
        rgb(20, 77, 90) 42.858%,
        rgb(25, 93, 114) 42.858%,
        rgb(19, 75, 92) 57.144%,
        rgb(25, 98, 122) 57.144%,
        rgb(25, 98, 122) 71.43%,
        rgb(30, 121, 152) 71.43%,
        rgb(30, 121, 152) 85.716%,
        rgb(36, 144, 182) 85.716%,
        rgb(36, 144, 182) 100.002%
    );
}
